.widget-video {
  font-family: sans-serif;
  padding: 10px;
}

.custom-video-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  position: relative;
  padding: 1%;
}

.video-item {
  flex: 1;
  position: relative;
  cursor: pointer;
  border: 5px;
  transition: all 0.3s ease-in-out;
}

.video-thumbnail {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.play-btn {
  width: 54px;
  height: 54px;
  background: #00000099;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-video {
  width: 100%;
  aspect-ratio: 16/9;
  display: none;
}

.video-item.active {
  width: 100%;
}

.video-item.active .custom-video {
  display: block;
  width: 100%;
  border: 10px;
}

.video-item.active .video-thumbnail {
  display: none;
}

.video-item.hidden {
  display: none;
}

.video-post-info {
  text-align: left;
  font-size: 12px;
  color: #000;
  padding: 10px;
}

.back-to-list {
  font-size: 12px;
  color: white;
  padding: 10px 0px 0px 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.back-to-list:hover {
  background-color: transparent;
  color: #01cf6a;
}

.back-to-list.hidden {
  display: none;
}

/* Responsive */
@media (max-width: 1024px) {
  .video-item {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .video-item {
    width: 100%;
  }

  .video-item iframe {
    height: 200px;
  }
}
